.myButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:0px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
	color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonPage {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:3px;
	border:0px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButtonPage:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
	color:#ffffff;
}
.myButtonPage:active {
	position:relative;
	top:1px;
}

.myButtonPageActive {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #860000 5%, #3e0000 100%);
	background-color: #e81f0e;
	border-radius:3px;
	border:0px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.gradient {
	background: #661414;
	background: -moz-linear-gradient(-45deg, #661414 6%, #ed0206 28%, #ed0206 53%, #991e20 79%, #661414 97%);
	background: -webkit-linear-gradient(-45deg, #661414 6%,#ed0206 28%,#ed0206 53%,#991e20 79%,#661414 97%);
	background: linear-gradient(135deg, #661414 6%,#ed0206 28%,#ed0206 53%,#991e20 79%,#661414 97%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#661414', endColorstr='#661414',GradientType=1 );
}
