{% extends 'base.html' %}
{% block title %}Подписки{% endblock %}
{% block content %}
{% load thumbnail %}
  <div class="container">
    <h1 style="margin-top: 48px; margin-bottom: 30px">Ваши подписки</h1>
    {% with follow=True %}
      {% include 'posts/includes/switcher.html' %}
    {% endwith %}
    {% for post in page_obj %}
      {% include 'posts/includes/post_list.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
    <br>
  </div>
{% endblock %}
